<%= form_for @comment, remote: true do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= f.hidden_field :lesson_id, value: @lesson.id %>
<div class="form-group">
	<%= f.text_area :content, placeholder: "Sao?" %>
	<%= f.submit "Đăng", class: 'btn btn-primary' %>
</div>
<% end %>
