<%= form_for(@lesson, remote: true) do |f| %>

<%= f.hidden_field :likes, value: (@lesson.likes + 1) %> 
<%= button_tag(type: 'submit', id: 'heart-button') do %>
<span id="likes" ><%= @lesson.likes %></span> &#9829; 
<% end %><% end %>