<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3>Delete</h3>
  </div>
  <div class="modal-body">
  <ul class="errors"></ul>
  You sure?
  </div>
  <div class="modal-footer">
    <%= link_to "Yes", lesson_path(@lesson), method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to "No", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>