<textarea id="user-text" rows="20" cols="10" class='form-control'>
<%= @lesson.body %>
</textarea>

<script>


function adjustForm(f) {
	f.style.height = "1px";
	f.style.height = (f.scrollHeight + 2) + 'px';
}

$(document).ready(function(){
	let f = document.getElementById("user-text");
	adjustForm(f);
})

</script>