<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for @lesson, remote: true, html: { style: "display:inline;" } do |f| %>
      <div class="modal-body">
        <ul class="errors"></ul>

        <div class="form-group">
          <%= f.label :name, class: "control-label" %>
          <%= f.text_field :name, class: "form-control textarea" %>
        </div>
        <div class="form-group">
          <%= f.label :instruction, class: "control-label" %>
          <%= f.text_area :instruction, size: '10x10', class: "form-control textarea" %>
        </div>
        <div class="form-group">
          <%= f.label :body, class: "control-label" %>
          <%= f.text_area :body, size: '10x10', class: "form-control textarea" %>
        </div>
        <div class="form-group">
          <%= f.label :note, class: "control-label" %>
          <%= f.text_area :note, size: '10x3', class: "form-control textarea" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit class: "btn btn-primary" %>
        <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>