<% @lessons.each do |lesson| %>

<li>
	<%= lesson.name %> |
	<%= link_to 'edit', edit_lesson_path(lesson), remote: true %> |
	<%= link_to 'delete', lesson_delete_path(lesson), remote: true %>
</li>

<% end %>