$("ul.errors").html("")
<% if @lesson.errors.any? %>
  <% @lesson.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $(".lesson-index").html("<%= escape_javascript(render 'indexfull') %>")
  $("#lesson-modal").modal("hide")
<% end %>