<nav>
  <%= link_to 'Mục lục', lessons_path %> >>
  <%= @lesson.name %>
  </nav>

<p class="instruction"> <%= markdown(@lesson.instruction) %> </p>
<div class="main-container">
 <div class="section-container">
 <%= render 'edit' %>
</div>
<div id="result" class="section-container result">
	<%= @lesson.body.html_safe %>
</div>
</div> 
<p class="note"><%= markdown(@lesson.note) %> </p>

<div class="pre-next">

<% l = @lessons.length %>
<% c = @lesson.id %>
<% if c >= 2 %>
	<%= link_to "< trước", edit_lesson_path(@lessons[c - 2]) %>
<% end %> 
<% if c < (l - 1) %>
    <%= link_to "tiếp >", edit_lesson_path(@lessons[c]) %>
<% end %>

 
</div>

<!--
<div id="likes-form">
 render 'shared/like_form'
</div>
<div>
 render 'shared/comment_form'
</div>
<div id="comments">
	<ul class="list-group">
 render 'comments/comment'
</ul>
</div>
-->
<script>
	$(document).ready(function(){
		$(document).on('keyup','#user-text', function(){
			localStorage.setItem("usertext", $('#user-text').val() );
			$('#result').html(localStorage.getItem('usertext'));
		})
		
	})
	
	</script>