<h1> Mục Lục :) </h1>

<ul>
	<%= render 'index' %>
</ul>


<h1> Cam kết chất lượng </h1>
<div class="main-container">
	<div class="section-container">
<p> Đây là kết quả ở cuối bài số 4:</p> 
<hr>

<%= image_tag('before.png') %>
</div>
<div class="section-container">
<p> Đây là kết quả ở cuối bài số 10: </p>
<hr>
<%= image_tag('after.png') %>
</div>
</div>
<hr>
<h1> Giới thiệu HTML </h1>
<p> Trong quá trình tiến hóa, sẽ có lúc ý thức nảy mầm. Rồi sẽ đến lúc ý thức đó có ngôn ngữ sau đó là chữ viết và toán học để lưu lại thông tin về thế giới. Một số loài vượn đã có chữ cái ê a và phép tính đơn giản. Sự phát minh ra máy tính, cũng là tự nhiên như hơi thở, là chiều chuyển động của lịch sử. Việc muốn ghi lại thông tin hiệu quả hơn viết lên vỏ sò là sự thôi thúc sáng tạo của loài người. Ở thời điểm này, việc bài văn bạn viết không còn đơn thuần là toàn chữ viết trên giấy A4 nữa, mà nó được đăng lên mạng, trang trí <span style="color:purple">màu mè</span>, có đầu đề <b>in đậm</b>, phần quan trọng <em>in nghiêng</em>, phần nổi bật <mark>tô màu</mark>. Ai muốn bình luận phần nào trỏ ngay vào đó để hỏi, người khác từ bên kia thế giới trả lời. HTML là công cụ giúp thể hiện sự đa chiều đó và dòng cảm xúc của một đoạn thông tin bạn muốn đăng lên mạng. Như thế nào? Ví dụ muốn thể hiện sự mạnh mẽ của chữ nào ta bọc nó trong một thẻ đánh dấu <xmp><b> </b></xmp> tức là bold (đậm, mạnh).</p>


<p>Trong sách <a href="https://aya-de-raghul.gitbook.io/phocaptinhoc/" target="_blank">Phổ cập tin học</a> có giải thích về sự tự nhiên của việc lưu lại thông tin bằng nhị phân trên máy tính. Ban đầu người ta dùng thẻ dập lỗ để hiện trạng thái bật tắt: dập lỗ là 1 và không lỗ là 0 chả hạn. Cứ thế bảng chữ cái được đánh số và quy sang nhị phân hết sau đó cho vào máy bằng thẻ dập lỗ. Bây giờ là mạch bật tắt, transistor, vết từ trên đĩa cứng, vết xước trên CD phản quang.. Bây giờ nếu bạn đưa cho trình duyệt dòng sau <xmp><h1> xin chào </h1></xmp> hắn sẽ hiểu được à bạn đang nói với hắn bằng html, hắn hiểu được h1 là thẻ đánh dấu tiêu đề to nhất và bạn bọc chữ xin chào trong đó, do đó hắn lụi cụi đi hiển thị chữ xin chào to và đậm cho bạn. Khái niệm thẻ html chỉ đơn giản như vậy thôi. </p>

<h1>Giới thiệu CSS</h1>

<p> HTML dùng các thẻ để đánh dấu văn bản của bạn, CSS sẽ theo các thẻ đó mà tô vẽ cho văn bản của bạn đẹp hơn. Bạn gọi tên thành phần đó ra (bằng thẻ, hoặc bằng tên bạn gán riêng cho hắn) sau đó viết các dòng lệnh tô màu thành phần đó. CSS sẽ được thêm vào đầu trang HTML, để các lệnh tô màu đó chảy tràn xuống dưới văn bản (vì vậy mà gọi là Cascading Stylesheet). Lệnh CSS căn bản nhìn tỉ dụ như sau: </p>


	<pre>

header {
 background-color: red;
 color: white;
 border-radius: 2%;
}
  </pre>
