<div class="well">
	<%= link_to "New", new_lesson_path, remote: true, class: 'btn btn-primary' %>
	<%= link_to "Home", lessons_path, class: 'btn btn-primary' %>
</div>

<div class="lesson-index">
	<ul>
		<%= render 'indexfull' %>
	</ul>
</div>

<div id="lesson-modal" class="modal fade"></div>
