@import "bootstrap-sprockets";
@import 'bootstrap';

@import url('https://fonts.googleapis.com/css?family=Nunito|Pacifico&subset=vietnamese');

$medium-purple: #9d0e3d;
$dark-purple: #2c1724;
$dark-blue: #08051b;
$medium-blue: #00353f;

footer {
padding-top: 2%;
.heart {
	color: $medium-purple;
} 

}
h1, h2, h3, h4, h5, h6 {
	font-family: Pacifico, cursive;
}

body {
	font-family: Nunito, sans;
	font-size: 1.8rem;
	line-height: 1.3;
	color: $dark-blue;
	padding: 0.5%;
	max-width: 1000px;
	margin: auto;

}

nav {
	font-family: Pacifico, cursive;
	font-size: 3rem;
	background-color: $medium-purple;
	color: ghostwhite;
	a {
	color: ghostwhite;
	}
}
.textarea {
	font-size: 1.8rem;
}

.main-container {
	display: flex;
	flex-flow: row;
	height: auto;
	.section-container{
	width: 49%;
	padding: 0.5%;
	height: auto;
	overflow: scroll;
	}
	#user-text {
	font-size: 1.6rem;
	}
	.result {
	border: 1px solid $dark-blue;
	border-radius: 2%;
	background-color: ghostwhite;
	}
}
xmp {
	background-color: whitesmoke;
}
#toTop {
    display: none;
    position: fixed;
    bottom: 3%;
    right: 1%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $medium-purple;
    opacity: 0.8;
    color: ghostwhite;
    cursor: pointer;
    padding: 1%;
    border-radius: 5%;
    font-size: 1.5rem;
}

#toTop:hover {
    opacity: 0.9;
}

.pre-next {
	text-align: center;
	font-weight: bold;
}

 /* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...} */

