<!DOCTYPE html>
<html>
  <head>
    <title>Học làm web miễn phí</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/totop' %>
  </body>
</html>
